{% extends '../layout.html' %}
{% load static %}<!-- 必須 -->
{% block link%}
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/Home.css' %}">
{% endblock %}
{% block content %}
    <div class="content">
        <div class="upload">
            <form action="{% url 'helpapp:judge' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="id_UploadImg"><img src="{% static "pictures/img.png"%}" alt="" id="home_img"></label>
                {{ form.as_p }}
                <input type="submit" class="submit" value="アップロード">
            </form>
        </div>
    </div>

    <!-- 画像のプレビュー -->
    <script type="text/javascript" src="//code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript">
        $(function(){
            $('#id_UploadImg').change(function(){
                //画像取得
                const img = $('#id_UploadImg').prop('files')[0];
                home_img.setAttribute('src', "/static/pictures/img.png");
                const type = img.type;
                
                //画像かどうかチェック
                if( !type.match(/^image/) ){
                    alert('画像を選択してください');
                    $(this).val('');
                    return false;
                }
        
                //FileReaderオブジェクトのインスタンス化
                let reader = new FileReader();
        
                //画像の読み込み
                reader.readAsDataURL(img);
        
                //読み込み失敗時
                reader.onerror = function(){
                    alert('ファイル読み取りに失敗しました');
                    $(this).val('');
                    return false;
                }
        
                //画像を表示
                reader.onload = function() {
                    home_img.setAttribute('src', reader.result);
                }
        
            });
        })
        </script>
{% endblock %}
