{% load static %}<!-- 必須 -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/Home.css' %}">
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="headline">
                洗濯タグを判定
            </div>
        </header>
        <div class="content">
            <div class="img">
                <label for="upload"><img src="{% static "pictures/img.png"%}" alt="" class="img2"></label>
                <input id="upload" type="file" name="image" accept="accept=".png, .jpeg, .jpg">
                <form action="{% url 'bbs:washing_machine' %}" method="">
                    <button type="submit" class="submit">確定ボタ</button>
                </form>
            </div>
        </div>
        <p>あああああああああああああああああああ</p>
        <footer class="footer">
            <ul>
                <li><a href="{% url 'bbs:washing_machine' %}"><img class="footer-picture" src="{% static "pictures/WashingMachine.png"%}"></a></li>
                <li><a href="{% url 'bbs:cabinet' %}"><img class="footer-cabinet" src="{% static "pictures/cabinet.png"%}"></a></li>
                <li><a href="{% url 'bbs:home' %}"><img class="footer-picture" src="{% static "pictures/camera.png"%}"></a></li>
                <li><a href="{% url 'bbs:tips' %}"><img class="footer-tips" src="{% static "pictures/tips.png"%}"></a></li>
                <li><a href="{% url 'bbs:user' %}"><img class="footer-picture" src="{% static "pictures/user.png"%}"></a></li>
            </ul>
        </footer>
    </div>
</body>
</html>