{% extends '../layout.html' %}
{% load static %}<!-- 必須 -->
    {% block content %}
        <div class="content">
            <div class="upload">
                <form action="{% url 'bbs:judge' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="id_image"><img src="{% static "pictures/img.png"%}" alt="" class="home_img"></label>
                    {{ upload_form.as_p }}
                    <input type="submit" class="submit" value="アップロード">
                </form>
            </div>
        </div>
    {% endblock %}