@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
/* header */
body{
    margin: 0;
}
.content{
    margin: 5%;
    text-align: center;
}
p{
    margin: 10%;
}
#id_name{
    width:58vw;
}
#id_category{
    width:58vw;
}
#id_memo{
    width:58vw;
    height: 10vh;
}
#submit{
    width: 70%;
    border-radius: 5px;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 32px;
    color: #fff;
    font-weight: bold;
    border: none;
    background-color: #4BC9FF;
    margin-bottom: 14vh;
}
.OK{
    text-align: center;
}

#image{
    width: 70vw;
    height: 70vw;
}