.loading {
	min-height: 70vh;
	display: none;
	justify-content: center;
	align-items: center;
	animation: animateTheBodyBg 10s linear infinite;
	-webkit-animation: animateTheBodyBg 10s linear infinite;
}

@keyframes animateTheBodyBg {
	from {
	z-index: auto;
	filter: hue-rotate(0deg)
	}
	to {
	filter: hue-rotate(360deg)
	}
}
@-webkit-keyframes animateTheBodyBg {
	from {
	z-index: auto;
	filter: hue-rotate(0deg)
	}
	to {
	filter: hue-rotate(360deg)
	}
}

  /* Spans */
.loader {
	position: relative;
	width: 140px;
	height: 140px;
}

.loader span {
	position: absolute;
	width: 100%;
	height: 100%;
	transform: rotate(calc(18deg * var(--i)))
}

.loader span::before {
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #00ff0a;
	box-shadow: 0 0 10px #00ff0a,
	0 0 20px #00ff0a,
	0 0 30px #00ff0a,
	0 0 40px #00ff0a,
	0 0 60px #00ff0a,
	0 0 80px #00ff0a,
	0 0 100px #00ff0a;
	animation: animateTheSpan 2s linear infinite calc(.1s * var(--i));
	-webkit-animation: animateTheSpan 2s linear infinite calc(.1s * var(--i));
}

@keyframes animateTheSpan {
	0% {
		z-index: auto;
		transform: scale(1)
	}
	80%,90% {
		transform: scale(0)
	}
}
@-webkit-keyframes animateTheSpan {
	0% {
		z-index: auto;
		transform: scale(1)
	}
	80%,90% {
		transform: scale(0)
	}
}