/*cabinet_detail*/
body{
    font-size: 18px;
    color: #333;
}
.backButton{
    margin-top: 2%;
    margin-left: 2%;
    width: 17vmin;
    height: 8vmin;
    border-radius: 5px;
    font-size: 4vmin;
    color: #fff;
    font-weight: bold;
    border: none;
    background-color: #4BC9FF;
}
.laundryTagImg{
    width: 100vmin;
    height: 100vmin;
    object-fit: cover;
}
.name{    
    font-size: 9vmin;
    font-weight: bold;
    margin-bottom: 5vmin;
}
.explanation{
    margin: 2vmin 6vmin;
}
.whether{
    font-size: 7vmin;
    margin-bottom: 10vmin;
    font-weight: bold;
}

.red{
    color: rgb(255, 0, 0);
}
.green{
    color: rgb(0, 255, 0);
}

.blue{
    color: rgb(0, 0, 255);
}
.title{
    font-weight: bold;
    margin-top: 11vmin
}
.belt{
    background-color: #CBF9FF;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
    border-radius: 5px;
}
.summary{
    background-color: #fff;
    border-radius:5px;
    padding: 1vmin ;
    box-shadow: 3px 3px 8px rgba(102, 102, 102, 0.5);
}
.tag{
    display: flex;
    /* 横並びに表示する */
    flex-direction: row;
    margin-bottom: 3vmin;
}
.radio{
    border-radius: 5%;
    width: 19vmin;
    height: 19vmin;
    margin-right: 2vmin;
    background-color: #fff;
}
.memo{
    border-radius: 5px;
    min-height: 20vmin;
    overflow-wrap: break-word;
    font-size: 4vmin;
}
.delete{
    text-align: center;
}
.delete_button{
    margin: 20% 2%;
    width: 30vw;
    height: 13vmin;
    border-radius: 5px;
    font-size: 7vmin;
    color: #fff;
    font-weight: bold;
    border: none;
    background-color: #ff4b4b;
    clear: both;
}
p{
    margin: 0;
    padding: 4vmin;
}
.space{
    margin: 20vmin;
}