/* cabinet */
.nuv{
    height: 5.5vh;
    margin: 2%;
}
.item{
    width: 28vmin;
    height: 28vmin;
    margin: 1.9vmin;
    text-align: center;
    border-radius: 5px;
    position: relative;
}
#add{
    width: 16vmin;
    height: 16vmin;
    border-radius: 50%;
    font-size: 8vmin;
    color: #fff;
    font-weight: bold;
    border: none;
    background-color: #4BC9FF;
    position: fixed;
    right: 3vmin;
    bottom: 20vmin;
    box-shadow: 1px 2px 5px 2px #cfcfcf;

}
.item img{
    border-radius: 5px;
    width: 28vmin; 
    height: 28vmin; 
    object-fit: cover;
}
.hidden{
    display: none;
}
.main{
    display: flex;
    flex-wrap: wrap;
    margin: 1.9vmin;
}
.checkbox{
    margin: 1.1vmin;
    width: 28vmin;
    height: 28vmin;
    text-align: center;
    border-radius: 5px;
    border: solid 3px #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 5px 1px #cfcfcf;
}
.checkbox img{
    border-radius: 5px;
    width: 28vmin; 
    height: 28vmin; 
    object-fit: cover;
}
label{
    width: 28vmin;
    height: 28vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkbox input[type="checkbox"]:checked+label {
    border: solid 3px royalblue;
    border-radius: 5px;
}
.how{
    border-radius: 0 0 5px 5px;
    width: 100%;
    text-align: center;
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 5vmin;
    text-shadow: 0.4vmin 0.4vmin 0.3vmin #333;
    color: white; 
}
.none{
    text-align: center;
}
.space{
    margin-top: 20vmin;
}
.LD{
    background-color: #63f700bb;
}
.LE{
    background-color: #ff0000bb;
}
.able{
    background-color: #00d9ffbb;
}
#edit{
    float: right;
    width: 17vmin;
    height: 8vmin;
    border-radius: 5px;
    font-size: 4vmin;
    color: #fff;
    font-weight: bold;
    border: none;
    background-color: #4BC9FF;
}
#categories{
    height: 6vmin;
    width: 30vw;
    font-size: 4vmin;
}
.select{
    display: none;
}
#delete{
    width: 100vw;
    height: 16vmin;
    font-size: 8vmin;
    color: #fff;
    font-weight: bold;
    border: none;
    background-color: #ff4b4b;
    
}
.btn{
    text-align: center;
    position: fixed;
    bottom: 15.5vmin;
    height: 15vmin;
}