/* cabinet */
.nuv{
    height: 4vh;
    margin: 2%;
}
.item{
    width: 28vmin;
    height: 28vmin;
    text-align: center;
    border-radius: 3px;
    border: solid 1px #f0f0f0;
    margin: 2.2%;
    float: left;
    position: relative;
}
.add{
    width: 70%;
    border-radius: 5px;
    margin: 10% 15% 25%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 32px;
    color: #fff;
    font-weight: bold;
    border: none;
    clear: both;
    background-color: #4BC9FF;
}
.item img{
    width: 28vmin; 
    height: 28vmin; 
    object-fit: cover;
}
.hidden{
    display: none;
}
.content{
    text-align: center;
    display:flex
}
.checkbox{
    width: 28vmin;
    height: 28vmin;
    border: solid 1px #e7e7e7;
    margin: 2.2%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 2px 5px 1px #cfcfcf;
}
.checkbox img{
    width: 28vmin; 
    height: 28vmin; 
    object-fit: cover;
}
.img{
    margin: auto;
}
.checkbox input[type="checkbox"] {
    z-index: 1;
    float: left;
    margin-right: -18%;
    margin-top: -70%;
}
label{
    width: 27vmin;
    height: 27vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkbox input[type="checkbox"]:checked+label {
    border: solid 2px royalblue;
    border-radius: 3px;
}
.how{
    width: 100%;
    text-align: center;
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 5vmin;
    text-shadow: 0.5vmin 0.5vmin 0.3vmin black;
    color: white; 
}
.LD{
    background-color: #63f70095;
}
.LE{
    background-color: #ff000095;
}
.able{
    background-color: #00d9ff95;
}
#edit{
    
    float: right;
    width: 15vmin;
    height: 8vmin;
    border-radius: 5px;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    border: none;
    background-color: #4BC9FF;
}
#categories{
    height: 4vh;
    width: 30vw;
}
.select{
    display: none;
}
#delete{
    width: 100vw;
    height: 15vmin;
    font-size: 32px;
    color: #6D6D6D;
    font-weight: bold;
    border: none;
    background-color: #ff4b4b;
}
.btn{
    text-align: center;
    position: fixed;
    bottom: 15vmin;
    height: 15vmin;
}