/* cabinet */
.nuv{
    margin: 2%;
}
.item{
    width: 28vmin;
    height: 28vmin;
    text-align: center;
    border-radius: 3px;
    border: solid 1px #f0f0f0;
    margin: 2%;
    float: left;
    position: relative;
}
.add{
    width: 70%;
    border-radius: 5px;
    margin: 8% 15% 90px;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 32px;
    color: #fff;
    font-weight: bold;
    border: none;
    clear: both;
    background-color: #4BC9FF;
}
.item img{
    width: 28vmin; 
    height: 28vmin; 
    object-fit: cover;
}
.hidden{
    display: none;
}
#edit{
    float: right;
}
.content{
    text-align: center;
    display:flex
}
.checkbox{
    width: 28vmin;
    height: 28vmin;
    border: solid 1px #f0f0f0;
    margin: 2%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.checkbox img{
    width: 28vmin; 
    height: 28vmin; 
    object-fit: cover;
}
.img{
    margin: auto;
}
.checkbox input[type="checkbox"] {
    display: none;
}
label{
    width: 29vmin;
    height: 29vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkbox input[type="checkbox"]:checked+label {
    /* background: rgba(0, 110, 255, 0.329); */
    border: solid 2px royalblue;
    border-radius: 3px;
}
.how{
    text-align: center;
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    font: 3%;
    color: white;
    width: 70%;    
}
.LD{
    background-color: #63f70065;
}
.LE{
    background-color: #ff000065;
}
.able{
    background-color: #00d9ff65;
}
#delete{
    
}
#add_washer{

}