/* LaundryTagCheck */
body{
    color: #333;
}
.backButton{
    width: 40%;
    border-radius: 5px;
    font-size: 32px;
    padding: 2px 10px;
    color: #6D6D6D;
    font-weight: bold;
    border: none;
    background-color: #FFF84B;
}
.laundryTagImg{
    width: 220px;
    height: 220px;
    display: block;
    margin: 2% auto;
    border-radius: 5px;
    object-fit: cover;
}
.radio{
    box-shadow: 1px 1px 1px 0px #999;
    background-color: #FFFFFF;
    width: 13.5vmin;
    height: 13.5vmin;
    margin: 1vmin;
    padding: 1vmin;
    border: solid 1px #f5f5f5;
    border-radius: 3px;
    box-shadow: 0 2px 2px -1px #6D6D6D;
}
.selection-group input[type="radio"] {
    display: none;
}
.selection-group input[type="radio"]:checked + label img {
    background: rgba(65, 105, 225, 0.726);
    border-radius: 3px;
}
.selection-group{
    text-align: center;
    padding: 0 1.5%;
}
.submit{
    bottom: 0;
    clear: both;
    width: 70%;
    border-radius: 5px;
    margin-top: 10%;
    margin-left: 15%;
    /* margin-right: 5%; */
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 32px;
    color: #fff;
    font-weight: bold;
    border: none;
    background-color: #4BC9FF;
}
.button{
    /* margin-bottom: 90px; */
    margin-bottom: 25%;
}
.msg{
    height: 30px;
    padding: 5px;
    font-weight: bold;
    margin: 3% 0;
    text-align: center;
}
hr {
    border: 1px #e2e2e2 solid;
    margin: 3%;
}
