body{
    background-color: #EFEFEF;
}
h1{
    text-align: center;
    font-size: 42px;
    font-weight: bold;
}
label{
    display: none;
}
.text{
    float: left;
    font-size: 24px;
    font-weight: bold;
    margin-top: -2%;
    margin-left: 2%;
}
.ps{
    margin-top: -20%;
}
form{
    margin-top: 10%;
}
input{
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 3%;
    padding: 10px;
    font-size: 24px;
    width: 75%;
}
.id{
    margin-top: 40%;
}
button{
    width: 70%;
    border-radius: 5px;
    margin-left: 15%;
    margin-top: 5%;
    padding-top: 3%;
    padding-bottom: 2%;
    font-size: 32px;
    color: #6D6D6D;
    font-weight: bold;
    border: none;
}
.add{
    background-color: #4BC9FF;
}
.submit{
    margin-top: 8%;
    background-color: #FFF84B;
}