
body{
    margin: 0;
    padding: 0;
    background-color: #e1f5fc;
    color: #333;
    text-align: center;
}

.container {
    width: 100%;
    height: 100%;

}
.title{
    margin-top: 8vmin;
    margin-bottom: 5vmin;
    font-size:18vmin;	
    font-family: 'Candara','Calibri','Segoe','Segoe UI','Optima','Arial','sans-serif';
}
.col2 {
    font-size: 6vmin;
}
img{
    width: 65vmin;
    height: 65vmin;
}

label{
    font-size: 6vmin;
    font-weight: bold;
    margin-left: 3%;
}
form{
    margin-top: 10%;
}
input{
    margin: 3%;
    padding: 5px;
    font-size: 5vmin;
    width: 75%;
}
.id{
    margin-top: 40%;
}
button{
    width: 70%;
    border-radius: 5px;
    padding: 2% 0;
    font-size: 7vmin;
    color: #6D6D6D;
    font-weight: bold;
    border: none;
}
.submit{
    margin-top: 8%;
    background-color: #FFF84B;
}
.errorlist{
    display: none;
    background-color: #4BC9FF;
}
.link{
    font-size: 4vmin;
    text-align: center;
}