/*result*/
body{
    color: #333;
}
.content {
    margin-bottom: 20vmin;
}
.laundryTagImg{
    width: 60vmin;
    height: 60vmin;
    display: block;
    margin: 5% auto 0;
    border-radius: 5px;
    object-fit: cover;
    
}
.details{
    background-color: #e5f4fd;
    padding-bottom: 1%;
    margin-bottom: 5%;
}
.result{
    text-align: center;
    text-shadow: 1px 1px 1px #aaa;
    font-size: 15vmin;
    font-weight: bold;
}

.red{
    color: rgb(255, 0, 0);
}
.green{
    color: rgb(0, 255, 0);
}

.blue{
    color: #4BC9FF;
}
p{
    margin: 5% 0;
}
.belt{
    background-color: #94daf8;
    color: #002D6B;
    font-weight: bold;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
    font-size: 16px;
}
.tag{
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    margin: 2%;
    padding-right: 2%;
    border-radius: 3%;
}
.img{
    background-color: #FFFFFF;
    width: 18vw;
    height: 18vw;
}
.tag_img{
    margin: 1.5% 3% 0 2%;
}
.add_cabinet, .finish{
    width: 70vw;
    border-radius: 5px;
    margin: 5vmin;
    height: 15vmin;
    font-size: 8vmin;
    font-weight: bold;
    border: none;
}
.button{
    text-align: center;
    margin: 10vmin 0 20vmin 0;
}
.add_cabinet{
    background-color: #4BC9FF;
    color: #fff;
    box-shadow: 0 1vmin 0 #369ada;
    border-radius: 50vmin;
    width: 70vw;
    margin: 5vmin;
    height: 15vmin;
    font-size: 8vmin;
    font-weight: bold;
    border: none;
}
.finish{
    background-color: #FFF84B;
    box-shadow: 0 1vmin 0 #dacf36;
    color: #6D6D6D;
    width: 50vw;
    border-radius: 5px;
    margin: 10vmin;
    height: 15vmin;
    font-size: 8vmin;
    font-weight: bold;
    border: none;
}
/* クリック時 */
.add_cabinet:active {
    box-shadow: none;
    transform: translateY(1vmin);
    -webkit-transform: translateY(1vmin);
}
.ai_report{
    text-align: center;
    display: block;
    font-size: 3vmin;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(255, 97, 97);
    text-decoration: none;
    width: 40%;
    margin: 3vmin auto;
    padding: 1%;
    border-radius: 5px;
    color: rgb(255, 97, 97);
}
.red{
    color: red;
    font: bold;
}
.progress{
    margin: 2vmin 0;
    text-align: center;
}
.progress_img{
    max-height: 40px;
    margin: 0 6vmin;
}