/*result*/
body{
    color: #333;
}
.laundryTagImg{
    width: 220px;
    height: 220px;
    display: block;
    margin: 5% auto 0;
    border-radius: 5px;
    object-fit: cover;
    
}
.details{
    background-color: #e5f4fd;
    padding-bottom: 1%;
    margin-bottom: 5%;
}
.result{
    font-size: 45px;
    font-weight: bold;
    color: #4BC9FF;
    text-align: center;
}
p{
    margin: 5% 0;
}
.belt{
    background-color: #94daf8;
    color: #002D6B;
    font-weight: bold;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
    font-size: 16px;
}
.tag{
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    margin: 2%;
    padding-right: 2%;
    border-radius: 3%;
}
.img{
    background-color: #FFFFFF;
    width: 18vw;
    height: 18vw;
}
.tag_img{
    margin: 1.5% 3% 0 2%;
}
.add_cabinet, .finish{
    width: 70%;
    border-radius: 5px;
    margin-left: 15%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 32px;
    font-weight: bold;
    border: none;
}
.add_cabinet{
    background-color: #4BC9FF;
    color: #fff;
    margin-top: 10%;
    margin-bottom: 10%;
}
.finish{
    background-color: #FFF84B;
    color: #6D6D6D;
    margin-bottom: 3vmin;
}
.red{
    color: red;
    font: bold;
}

.ai_report {
    text-align: center;
    display: block;
    margin-bottom: 20vmin;

}