body{
    background-color: #FDFDFD;
    font-size: 18px;
}
h1{
    text-align: center;
    font-size: 42px;
    font-weight: bold;
}
.helptext{
    display: none;
}
ul{
    display: none;
}
label{
    display: none;
}
input{
    width: 60%;
    padding: 5px 5px;
}