/* timeline */
.timeline {
    height: 100%;
    width: 100%;
    margin-bottom: 80px;
}
.timeline h2 {
    margin: 3%;
}
#mainpic {
    width: 24vmin;
    height: 24vmin;
    float: left;
    margin-right: 5%;
    padding: 0;
}
.box {
    min-height: 90px;
    border: solid 2px;
    border-radius: 5px;
    margin: 2%;
    padding: 3%;
    animation: faden 2s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
    min-height: 10vh;
}
#LD{
    border-color: #63f70085;
}
#LE{
    border-color: #ff000085;
}
#able{
    border-color: #00d9ff85;
}
/* @keyframes faden {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
} */
.box img{
    width: 16%;
    height: 16%;
    padding: 2%;
}
.tag {
    /* この要素はflexコンテナとなり、子要素は自動的にflexアイテムとなる */
    display: flex;

    /* 横並びに表示する */
    flex-direction: row;

    /* 画面幅に収まらない場合は折り返す */
    flex-wrap: wrap;
}
.none{
    font-size: 20px;
    text-align: center;
    font: bold;
}