/* timeline */
.timeline {
    height: 100%;
    width: 100%;
    margin-bottom: 80px;
}
.timeline h2 {
    color: #6D6D6D;
    margin: 3%;
}
#mainpic {
    width: 24vmin;
    height: 24vmin;
    float: left;
    margin-right: 5%;
    padding: 0;
}
.box {
    min-height: 90px;
    border: solid 1vmin;
    border-radius: 2vmin;
    margin: 2%;
    padding: 3%;
    animation: faden 2s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
    min-height: 12vh;
    max-height: 25vmin;
    height: 24vmin;
}
#LD{
    border-color: rgb(182, 250, 137);
}
#LE{
    border-color: rgb(254, 137, 137);
}
#able{
    border-color: rgb(137, 237, 254);
}
/* @keyframes faden {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
} */
.box img{
    width: 11vmin;
    height: 11vmin;
    padding: 2%;
}
.tag {
    /* この要素はflexコンテナとなり、子要素は自動的にflexアイテムとなる */
    display: flex;

    /* 横並びに表示する */
    flex-direction: row;

    /* 画面幅に収まらない場合は折り返す */
    flex-wrap: wrap;

    max-height: 25vmin;
}
.none{
    font-size: 20px;
    text-align: center;
    font: bold;
}