/* user */
.content{
    margin-bottom: 15vmin;
    color: #333;
}

#main{
    margin: 5vmin;
}
.user{
    margin: 3vmin;
    text-align: center;
}
.user_pic{
    width: 30vmin;
    height: 30vmin;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #bebebe;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5);
    margin-top: -9vmin;
    margin-bottom: 3vmin;
}
#user_pic_form{
    width: 30vmin;
    height: 30vmin;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #bebebe;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5);
    margin-top: -9vmin;
    margin-bottom: 3vmin;
}

.UserName{
    margin-top: 1%;
    text-align: center;
    font-size: 7vmin;
    font-weight: bold;
}
.edit{
    text-align: end;
}
#edit-button{
    margin:2vmin 2vmin 0 0;
    width: 17vmin;
    height: 8vmin;
    border-radius: 5px;
    font-size: 4vmin;
    color: #fff;
    font-weight: bold;
    border: none;
    background-color: #4BC9FF;
    box-shadow: 0 1vmin 0 #369ada;
}
#main_edit{
    margin: 5vmin;
}
.hidden{
    display: none;
    margin: 5vmin;
}
.img_div{
    text-align: center;
    margin: 5vmin;
    display: flex;
    justify-content: center;
}
#account_img{
    width: 30vmin;
    height: 30vmin;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid rgb(190, 190, 190);
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .5);
    margin-top: -9vmin;
}
.form-row{
    text-align: center;
}
label{
    display: block;
}
.id{
    font-size: 6vmin;
    font-weight: bold;
    margin-bottom: 0.1vmin;
}
.submit{
    width: 34vw;
    height: 10vmin;
    margin-right: 3vw;
    border-radius: 5px;
    font-size: 5vmin;
    color: #fff;
    font-weight: bold;
    border: none;
    background-color: #4BC9FF;
    box-shadow: 0 1vmin 0 #369ada;
}
.reset{
    width: 25vw;
    height: 10vmin;
    border-radius: 5px;
    margin-bottom: 8vmin;
    font-size: 5vmin;
    color: #fff;
    font-weight: bold;
    border: none;
    background-color: #ff4b4b;
    box-shadow: 0 1vmin 0 #da3636;
}

.form-group{
    font-size: 5vmin;
}
.form-control{
    padding: 1vmin;
    font-size: 5vmin;
    width: 60vw;
}
.form-control-file{
    display: none;
}
#main_edit a{
    text-decoration: none;
    color: #555;
    border-bottom: #333 solid 1px;
}
.passchange {
    border-radius: 20px;
    padding: 0 5%;
    background-color: #FFF;
    box-shadow: 1px 1px 2px #ccc;
    border: none;
}
hr{
    margin: 0 2vmin 4vmin;
    clear: both;
}
.detail {
    font-size: 5vmin;
}
.award{
    margin-bottom: 4vmin;
    width: 33.3vw;
    float: left;
    text-align: center;
}
.award1{
    font-size: 8vmin;
    font-weight: bold;
    margin-top: 1vmin;
    margin-bottom: 1vmin;
}
.award img{
    width: 15vmin;
    height: 15vmin;
}
.washingDisplay{
    background-color: #CBF9FF;
    padding: 2vmin 8vmin 2vmin 1vmin;
    margin-bottom: 3vmin;
    font-size: 5.5vmin;
    color: #002D6B;
}
.washingProcesses{
    background-color: #CCCBFF;
}
.bleachingProcesses{
    background-color: #cbe6ff;
}
.tumbleDrys{
    background-color: #cbfffb;
}
.naturalDrys{
    background-color: #CBFFD6;
}
.ironFinishs{
    background-color: #FEFFCB;
}
.tightens{
    background-color: #ffe0cb;
}
.dryCleanings{
    background-color: #FFCBCB;
}
.wetCleanings{
    background-color: #FFCBFA;
}
.info{
    background-color: #FFABAB;
}
table img{
    width: 15vmin;
    height: 15vmin;
}
table{
    border: solid 3px rgb(97, 97, 97);
    border-collapse: collapse;
    margin: 2vmin auto 4vmin;
    align-content: center;
    padding: 5vmin 5vmin;
    max-width: 90vw;
}
tr,td{
    border: solid 2px rgb(201, 201, 201);
}
td{
    font-size: 3.6vmin;
    padding: 10px 10px;
}
.attention{
    font-size: 4vmin;
    margin-left: 5vmin;
}
ol{
    font-size: 4vmin;
    margin-left: 4vmin;
}
.logout{
    text-align: right;
    font-size: 4vmin;
    margin-top: 10vmin;
}
.admin {
    text-align: right;
    font-size: 4vmin;
}
summary span {
    font-size: 5vmin;
}

.on_img{
    background-color: rgba(85, 85, 85, 0.418);
    position: absolute;
    float: left;
    width: 30vmin;
    height: 30vmin;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #bebebe;
    margin-top: -9vmin;
    margin-bottom: 3vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}
.on_img img{
    width: 20vmin;
    height: 20vmin;
}

/* ↓↓↓↓↓↓↓↓↓↓↓アコーディオンアニメーション↓↓↓↓↓↓↓↓↓↓↓ */
summary{
    padding: 2vmin 3vmin;
    margin-bottom: 3vmin;
    padding-left: 7vmin;
    list-style: none; /* 以外を指定してデフォルトの三角形アイコンを消す */
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    -webkit-transition: -webkit-transform 0.3s ease;
}
/* Safariで表示されるデフォルトの三角形アイコンを消す */
summary::-webkit-details-marker { 
    display: none;
}
details{
    transition: all 0.5s ease; 
    -webkit-transition: -webkit-transform 0.5s ease; 
}

summary::after{
    content: '+';
    position: absolute;
    font-size: 8vmin;
    right: 20px;
    transition: all 0.3s ease;
    -webkit-transition: -webkit-transform 0.3s ease;
}
summary::-webkit-after{
    content: '+';
    position: absolute;
    font-size: 8vmin;
    right: 20px;
    transition: all 0.3s ease;
    -webkit-transition: -webkit-transform 0.3s ease;
}
details[open] summary::after{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
details[open] summary::-webkit-after{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
details[open] {
    height: auto;
}
/* details[open] .codeWrapper{
    overflow: auto;
    animation: ani 1s ;
    -webkit-animation: ani 1s ;
} */

/* クリック時 */
#edit-button:active {
    box-shadow: none;
    transform: translateY(1vmin);
    -webkit-transform: translateY(1vmin);
}

.submit:active {
    box-shadow: none;
    transform: translateY(1vmin);
    -webkit-transform: translateY(1vmin);
}

.reset:active {
    box-shadow: none;
    transform: translateY(1vmin);
    -webkit-transform: translateY(1vmin);
}