/* user */
.content{
    margin-bottom: 15vmin;
    color: #333;
}
#main{
    margin: 5vmin;
}
.user{
    margin: 3vmin;
    text-align: center;
}
.user-pic{
    width: 30vmin;
    height: 30vmin;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #bebebe;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5);
    margin-top: -9vmin;
    margin-bottom: 3vmin;
}
.UserName{
    margin-top: 1%;
    text-align: center;
    font-size: 7vmin;
    font-weight: bold;
}
.edit{
    text-align: end;
}
#edit-button{
    margin:2vmin 2vmin 0 0;
    width: 15vmin;
    height: 8vmin;
    border-radius: 5px;
    font-size: 4vmin;
    color: #fff;
    font-weight: bold;
    border: none;
    background-color: #4BC9FF;
}
#main_edit{
    margin: 5vmin;
}
.hidden{
    display: none;
    margin: 5vmin;
}
.img_div{
    text-align: center;
    margin: 5vmin;
}
#account_img{
    width: 30vmin;
    height: 30vmin;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid rgb(190, 190, 190);
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .5);
    margin-top: -9vmin;
}
.form-row{
    text-align: center;
}
label{
    display: block;
}
.id{
    font-size: 6vmin;
    font-weight: bold;
    margin-bottom: 0.1vmin;
}
.submit{
    width: 34vw;
    height: 10vmin;
    margin-right: 3vw;
    border-radius: 5px;
    font-size: 5vmin;
    color: #fff;
    font-weight: bold;
    border: none;
    background-color: #4BC9FF;
}
.reset{
    width: 25vw;
    height: 10vmin;
    border-radius: 5px;
    margin-bottom: 8vmin;
    font-size: 5vmin;
    color: #6D6D6D;
    font-weight: bold;
    border: none;
    background-color: #ff4b4b;
}
.form-group{
    font-size: 5vmin;
}
.form-control{
    padding: 1vmin;
    font-size: 5vmin;
    width: 60vw;
}
.form-control-file{
    display: none;
}
a{
    text-decoration: none;
}
hr{
    margin: 0 2% 5%;
    clear: both;
}
.detail {
    font-size: 5vmin;
    margin: 3% 5% 5%;
}
.sum{
    margin-bottom: 0.25em;
}
.washingDisplay{
    background-color: #CBF9FF;
    padding: 2% 8% 2% 1%;
    margin-bottom: 3%;
    font-size: 5.5vmin;
    color: #002D6B;
}
.washingProcesses{
    background-color: #CCCBFF;
}
.bleachingProcesses{
    background-color: #cbe6ff;
}
.tumbleDrys{
    background-color: #cbfffb;
}
.naturalDrys{
    background-color: #CBFFD6;
}
.ironFinishs{
    background-color: #FEFFCB;
}
.tightens{
    background-color: #ffe0cb;
}
.dryCleanings{
    background-color: #FFCBCB;
}
.wetCleanings{
    background-color: #FFCBFA;
}
.info{
    background-color: #FFABAB;
}
img{
    width: 15vmin;
    height: 15vmin;
}
table{
    border: solid 3px rgb(97, 97, 97);
    border-collapse: collapse;
    margin: 4vmin auto;
    align-content: center;
    padding: 5% 5%;
    max-width: 90%;
}
tr,td{
    border: solid 2px rgb(201, 201, 201);
}
td{
    font-size: 3.6vmin;
    padding: 10px 10px;
}
.attention{
    font-size: 4vmin;
    margin-left: 5%;
}
ol{
    font-size: 4vmin;
    margin-left: 4%;
}
.logout{
    text-align: right;
    font-size: 4vmin;
    margin-top: 20%;
}
summary span {
    font-size: 5vmin;
}
/* ↓↓↓↓↓↓↓↓↓↓↓アコーディオンアニメーション↓↓↓↓↓↓↓↓↓↓↓ */
summary{
    padding: 2% 3%;
    margin-bottom: 3%;
    padding-left: 7%;
    list-style: none; /* 以外を指定してデフォルトの三角形アイコンを消す */
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    transition: all .3s ease;
}
/* Safariで表示されるデフォルトの三角形アイコンを消す */
summary::-webkit-details-marker { 
    display: none;
}
details{
    transition: all .5s ease; 
}
summary::after{
    content: '+';
    position: absolute;
    font-size: 8vmin;
    right: 20px;
    transition: all .3s ease;
}
details[open] summary::after{
    transform: rotate(45deg);
}
details[open] {
    height: auto;
}
details[open] .codeWrapper{
    overflow: auto;
    animation: ani 1s ;
}