.content{
    color: #333;
    margin: 2vmin;
}
.scroll {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3vmin;
    justify-content: center;
    align-items: center;
    max-width: 100vmin;
}
/*result*/
.washer_img{
    width: 22vmin;
    height: 22vmin;
    margin: 0;
    object-fit: cover;
}
.pictures{
    width: 22vmin;
    height: 22vmin;
    margin: 1vmin;
} 
.details{
    background-color: #EEEEEE;
    padding-bottom: 1%;
    margin-bottom: 5%;
}
.result{
    font-size: 45px;
    font-weight: bold;
    color: #4BC9FF;
    text-align: center;
}
.tag_img{   
    width: 14vmin;
    height: 14vmin;
    vertical-align: middle;
}
table{
    box-shadow: 1px 1px 2px #ccc;
    border-collapse: collapse;
    background-color: #fff;
    margin:0 3vmin 10vmin 3vmin;
}
tr,td{
    border: none;
}
td{
    font-size: 4vmin;
    padding: 5px 10px;
}
tr td:nth-of-type(1){
    width: 14vmin;
    height: 14vmin;
}
.button{
    text-align: center;
}
.finish{
    margin-top: 5%;
    width: 70vw;
    border-radius: 5px;
    font-size: 7vmin;
    font-weight: bold;
    border: none;
    background-color: #4BC9FF;
    color: #fff;
    padding: 2% 0;
}
.washer_log_add{
    background-color: #fffa61;
    width: 70vw;
    border-radius: 5px;
    margin: 10% auto 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 6.5vmin;
    color: #6D6D6D;
    font-weight: bold;
    border: none;
}
.title{
    margin-top: 10vmin;
    font-size: 5vmin;
    font-weight: bold;
}
.red{
    color: red;
    font: bold;
}
hr {
    border: 1px #e2e2e2 solid;
    margin: 3%;
}
.washer_clear{
    width: 70vw;
    border-radius: 5px;
    font-size: 7vmin;
    color: #fff;
    font-weight: bold;
    border: none;
    background-color: #ff4b4b;
    clear: both;
    padding: 2% 0 2%;
}
.space{
    margin: 20vmin;
}

.result_tag {
    display: flex;
    justify-content: center;
    align-items: center;
}



/* tab */
.tab_contents {
	margin: 10vmin 5vmin;
}

.tab_wrap {
	opacity: 0.8;
}


/*タブボタンデザイン*/
.tab_lab1, .tab_lab2, .tab_lab3 {
	background: #242424;
	color: #fff;
	padding: 4vmin;
}

/*タブにチェック入ったとき*/
#tab1:checked~.tab_lab1 {
    background-color: #97ECFC;
	color: #242424;
    border-radius: 2vmin;
}
#tab2:checked~.tab_lab2 {
	background: #3ddcb1;
	color: #242424;
    border-radius: 2vmin;
}
#tab3:checked~.tab_lab3 {
	background: #ff8b8b;
	color: #242424;
    border-radius: 2vmin;
}

/*タブボタンとボックス連動*/
#tab1:checked~.panels #area1 {
	display: block;
    background-color: #97ECFC;
}
#tab2:checked~.panels #area2 {
	display: block;
	background: #3ddcb1;
}
#tab3:checked~.panels #area3 {
	display: block;
	background: #ff8b8b;
}

/*チェックボックスとボックス非表示*/
input[name="check"] {
	display: none;
}
.panel {
	padding: 2vmin;
	display: none;

    border-radius: 2vmin;
}
/* tabの中 */
.panel_li{
    list-style:none;
    display: flex;
    border-radius: 1vmin;
    background-color: rgb(255, 255, 255);
    margin: 3vmin 1vmin;
    box-shadow: 1px 1px 2px #ccc;
}
.panel_img{

    display: flex;
    margin: 1vmin;
    align-items: center;
}
.panel_tags{
    overflow-x :scroll;
    display: flex;
    margin: 1vmin;
    align-items: center;
}
.panel_washer{
    width: 20vmin;
    height: 20vmin;
    object-fit: cover;
}
.panel_space{
    margin: 2vmin;
}
.L{
    background-color: #97ebfc7a;
}
.B{
    background-color: #3ddcb17a;
}
.T{
    background-color: #ff8b8b7a;
}
/*ボックスを下から上へ*/
.panel_content {
    padding: 1vmin;
	background-color: rgb(250, 250, 250);
}