
.content{
    text-align: center;
    display:flex
}
.item{
    width: 29vmin;
    height: 29vmin;
    border: solid 1px #f5f5f5;
    margin: 1.5% ;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item img{
    width: 27vmin; 
    height: 27vmin; 
    object-fit: cover;
}
.check{
    margin: auto;
}
.item input[type="checkbox"] {
    display: none;
}
label{
    width: 29vmin;
    height: 29vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.item input[type="checkbox"]:checked+label {
    background: rgba(0, 119, 255, 0.7);
}