#content{
    margin: 2vmin;
    margin-bottom: 20vmin;
}
.panel{
    height: 15vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}
.date{
    margin: 5vmin;
    width:50vmin;
    border: 1px #e2e2e2 solid;
    border-radius: 3px;
    margin: 2vmin 1vmin;
    padding: 2vmin;
    /* box-shadow: 1px 1px 3px rgba(182, 182, 182, 0.5); */
}

.delete{
    height: 7vmin;
    width: 7vmin;
    display: grid;
    align-items: center;
    text-align: center;
    margin:0 3vmin;
    background-color: rgb(255, 66, 66);
    font-weight: bold;
    border-radius: 50%;
    box-shadow: 1px 1px 1px rgba(102, 102, 102, 0.5);
}
.delete a{
    color: white;
}

.dummy_button1{
    height: 7vmin;
    width: 7vmin;
    margin-right: 3vmin;
    background-color: rgb(126, 255, 66);
    font-weight: bold;
    border-radius: 50%;
    box-shadow: 1px 1px 1px rgba(102, 102, 102, 0.5);
}
.add{
    
    height: 7vmin;
    width: 7vmin;
    margin-right: 3vmin;
    background-color: rgb(66, 227, 255);
    font-weight: bold;
    border-radius: 50%;
    box-shadow: 1px 1px 1px rgba(102, 102, 102, 0.5);
}

.add a{
    color: white;
}

p{
    margin: 0;
}
a{
    text-decoration: none;
}
.item{
    background-color: white;
    width: 95vw;
    /* border: 1px solid #e2e2e2; */
    border-radius: 3vmin;
    margin: 4.5vmin auto;
    text-align: center;
    /* box-shadow: 0 2px 5px rgba(102, 102, 102, 0.5); */
}
.washer_log{
    display:flex;
    overflow-x:scroll;    
}
.div_pic{
    width: 22vmin;
    height: 22vmin;
    margin: 2vmin;
}
.none{
    text-align: center;
}
.washer_pic{
    width: 22vmin;
    height: 22vmin;
    object-fit: cover;
    border-radius: 5px;
}
hr {
    border: 1px #e2e2e2 solid;
    margin: 0 3%;
}