.content{
    text-align: center;
    display:flex;
    /* margin-top: 1.5%; */
    margin-top: 3%;
}
.item{
    width: 20vmin;
    height: 20vmin;
    border: solid 1px #f0f0f0;
    border-radius: 5px;
    margin: 2.2%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item img{
    width: 20vmin; 
    height: 20vmin; 
    object-fit: cover;
}
.check{
    margin: auto;
}
.item input[type="checkbox"] {
    display: none;
}
label{
    width: 20vmin;
    height: 20vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item input[type="checkbox"]:checked+label {
    /* background: rgba(60, 151, 255, 0.7); */
    border: solid 2px royalblue;
    border-radius: 5px;
}
.add{
    width: 70%;
    border-radius: 5px;
    margin-top: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 32px;
    color: #fff;
    font-weight: bold;
    border: none;
    background-color: #4BC9FF;
    margin-bottom: 25%;
}