.content{
    margin: 3% 1% 3% 1%;

}
.scroll {
    display:flex;
    overflow-x:scroll;
    text-align:center;
}
/*result*/
.backButton{
    margin-top: 2%;
    margin-left: 2%;
    border-radius: 5px;
    font-size: 20px;
    padding: 2px 10px;
    color: #6D6D6D;
    font-weight: bold;
    border: none;
    background-color: #4BC9FF;
    clear: both;
}
.washer_img{
    width: 36vw;
    height: 36vw;
    border-radius: 5px;
    object-fit: cover;
    margin: 0;
}
.pictures{
    width: 36vw;
    height: 36vw;
    margin: 1%;
    border-radius: 5px;
    border: solid 1px #e2e2e2;
} 
.details{
    background-color: #EEEEEE;
    padding-bottom: 1%;
    margin-bottom: 5%;
}
.result{
    font-size: 45px;
    font-weight: bold;
    color: #4BC9FF;
    text-align: center;
}
p{
    margin: 5% 0;
}
h2{
    color: #6D6D6D;
}
.cards{
    display: flex;
    text-align: center;
}
.card{
    width: 30vw;
    height: 25vh;
    border: solid 1px #e2e2e2;
    margin: 1%;
    border-radius: 5%;
    align-items: center;
}

.tag{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tag_img{   
    width: 11vmin;
    height: 11vmin;
}
.button{
    text-align: center;
}
.finish{
    margin-bottom: 10vh;
    width: 50vw;
    height: 13vmin;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    background-color: #4BFF5D;
    color: #6D6D6D;
}
.red{
    color: red;
    font: bold;
}
hr {
    border: 1px #e2e2e2 solid;
    margin: 3%;
}
.washer_clear{
    margin-bottom: 10vh;
    width: 50vw;
    height: 13vmin;
    border-radius: 5px;
    font-size: 20px;
    color: #6D6D6D;
    font-weight: bold;
    border: none;
    background-color: #ff4b4b;
    clear: both;
}