#content{
    margin: 2vmin;
    margin-bottom: 20vmin;
}
.date{
    display: inline-block;
    vertical-align: middle;
}
p{
    margin: 3vmin 3vmin 2vmin;
}
a{
    text-decoration: none;
}
.item{
    background-color: white;
    width: 95vw;
    border-radius: 3vmin;
    margin: 4.5vmin auto;
    text-align: center;
    box-shadow: 0 2px 5px rgba(102, 102, 102, 0.5);
}
.washer_log{
    display:flex;
    overflow-x:scroll;    
}
.div_pic{
    width: 22vmin;
    height: 22vmin;
    margin: 2vmin;
}
.washer_pic{
    width: 22vmin;
    height: 22vmin;
    object-fit: cover;
}
hr {
    border: 1px #e2e2e2 solid;
    margin: 0 3%;
}