.content{
    color: #333;
    margin: 2vmin;
    width: 96%;
}
.scroll {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3vmin;
}
/*result*/
.washer_img{
    width: 21.2vmin;
    height: 21.2vmin;
    border-radius: 5px;
    margin: 0;
    object-fit: cover;
}
.pictures{
    width: 21.2vmin;
    height: 21.2vmin;
    margin: 1.4vmin;
    border-radius: 5px;
    /* border: solid 1px #e2e2e2; */
} 
.details{
    background-color: #EEEEEE;
    padding-bottom: 1%;
    margin-bottom: 5%;
}
.result{
    font-size: 45px;
    font-weight: bold;
    color: #4BC9FF;
    text-align: center;
}
.belt{
    background-color: #CBF9FF;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
    font-size: 18px;
}
.tag_img{   
    width: 14vmin;
    height: 14vmin;
    vertical-align: middle;
}
table{
    box-shadow: 1px 1px 2px #ccc;
    border-collapse: collapse;
    background-color: #fff;
    margin:0 3vmin 10vmin 3vmin;
}
tr,td{
    border: none;
}
td{
    font-size: 18px;
    padding: 5px 10px;
}
tr td:nth-of-type(1){
    width: 14vmin;
    height: 14vmin;
}
.button{
    text-align: center;
}
.finish{
    margin-top: 5%;
    width: 70vw;
    border-radius: 5px;
    font-size: 7vmin;
    font-weight: bold;
    border: none;
    background-color: #4BC9FF;
    color: #fff;
    padding: 2% 0;
}
.washer_log_add{
    background-color: #fffa61;
    width: 70vw;
    border-radius: 5px;
    margin: 10% auto 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 7vmin;
    color: #6D6D6D;
    font-weight: bold;
    border: none;
}
.title{
    margin-top: 10vmin;
    font-size: 5vmin;
    font-weight: bold;
}
.red{
    color: red;
    font: bold;
}
hr {
    border: 1px #e2e2e2 solid;
    margin: 3%;
}
.washer_clear{
    width: 70vw;
    border-radius: 5px;
    font-size: 7vmin;
    color: #fff;
    font-weight: bold;
    border: none;
    background-color: #ff4b4b;
    clear: both;
    padding: 2% 0 2%;
}
.space{
    margin: 20vmin;
}
