<!-- {% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <form action="/Home/index.html" method="post">
        <p>ID<input type="text" name="id" class="id"></p>
        <p>PS<input type="password" name="pass" class="pass"></p>
        <div class="button">
            <input type="submit"class="submit" value="ログイン">
        </div>
    </form>
</body>
</html>

<!DOCTYPE html>
{% load static %}
<html lang="ja" dir="ltr">
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" href="{% static 'css/login.css' %}"/>

</head>
<body>
<h1>ログイン画面</h1>

<div class="reg">
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}

    <table class="reg_form">
    <tr>
    <td><label for="userid">ユーザーID:</label></td>
    <td><input type="text" name="userid"></td>
    <td><label for="password">パスワード：</label></td>
    <td><input type="password" name="password"></td>
    </tr>
    </table>

    <input type="submit" class="btn" value="Login">
 </form>
</div>
   <a href="{% url 'register' %}">アカウントを作成</a>
   </p>
</body>
</html> -->
