{% extends '../layout.html' %}
{% load static %}<!-- 必須 -->
{% block link%}
    <link rel="stylesheet" href="{% static 'css/AddCabinet.css' %}">
    <script type="text/javascript" src="{% static 'js/Add_cabinet.js' %}"></script>
{% endblock %}
{% block content %}
<div class="content">
    <div class="progress">
        <img class="progress_img" src="{% static "pictures/progress_cabinet.svg"%}" alt="">
    </div>
    <form action="{% url 'helpapp:cabinet_add' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ cabinet_form.as_p }}
        <button type="submit" id="submit">確定</button>
    </form>
</div>
<script type="text/javascript"">
     document.querySelector('[for="id_image"]').innerHTML ="<img id='image' src='{% static 'pictures/img.png' %}' alt=''>";
</script>
{% endblock %}