{% extends '../layout.html' %}
{% load static %}<!-- 必須 -->
{% block link%}
    <link rel="stylesheet" href="{% static 'css/AddCabinet.css' %}">
    <script type="text/javascript" src="{% static 'js/Add_cabinet.js' %}"></script>
{% endblock %}
{% block content %}
<div class="content">
    <form action="{% url 'helpapp:cabinet_add' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ cabinet_form.as_p }}
        <button type="submit" id="submit">確定</button>
    </form>
</div>
<script type="text/javascript"">
    document.querySelector('[for="id_image"]').innerHTML ="<img id='image' src='{% static 'pictures/img.png' %}' alt=''>";
    document.getElementById('id_image').style.display="none";
    document.querySelector('[for="id_name"]').innerText = 'NAME';
    document.querySelector('[for="id_category"]').innerText = 'CATEGORY';
    document.querySelector('[for="id_memo"]').innerText = 'MEMO';
    document.querySelector('[for="id_memo"]').style.float="left";
    document.querySelector('[for="id_category"]').style.float="left";
    document.querySelector('[for="id_name"]').style.float="left";
    document.getElementById("id_name").maxLength = 20;
</script>
{% endblock %}