{% extends '../layout.html' %}
{% load static %}
<!-- 必須 -->
{% block link%}
<link rel="stylesheet" href="{% static 'css/CabinetDetail.css' %}">
<script src="{% static 'js/cabinet_detail.js' %}"></script>
{% endblock %}
{% block content %}
<div class="content">
    <div id="main">
        <div class="name">{{cabinet.name}}</div>
        <div><img src="{{ cabinet.image.url }}" class="laundryTagImg"></div>
        <div class="explanation">
            <span class="{{color}} whether">{{whether}}</span>
            <img src="{% static "pictures/edit-button.png" %}" class="edit-button">
            <div class="category"><p>{{cabinet.category}}</p></div>

            <div class="details">
                <div class="title">
                    詳細
                </div>
                <div class="summary">
                    {% for tag in tags %}
                    <div class="tag">
                        <div class="tag_img">
                            {% with img="/pictures/"|add:tag|add:".png" %}
                            <img src="{% static img%}">
                            {% endwith %}
                        </div>
                        <div class="text">
                            <div class="{{tag}}"></div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="title">
                メモ
            </div>
            <hr>
            <div class="memo">
                <p>{{cabinet.memo}}</p>
            </div>
            <div class="delete">
                <a href="{% url 'helpapp:cabinet_delete' cabinet.pk%}">
                    <button type="button" class="delete_button" onclick='return confirm("本当に削除しますか？");'>削除</button>
                </a>
            </div>
        </div>
    </div>

    <div id="edit" class="hidden">
        <form action="{% url 'helpapp:cabinet_detail' cabinet.pk%}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="name"><input type="text" value="{{cabinet.name}}" name="name" class="name"></div>
            <div class="ssss">
                <label for="file">
                    <div class="on_img"><img src="{% static "pictures/camera_skeleton.svg" %}" class="laundryTagImg">
                    </div>
                </label>
                <img src="{{ cabinet.image.url }}" class="laundryTagImg" id="upload_img">
                <input type="file" name="file" id="file">
            </div>
            <div class="explanation">
                <span class="{{color}} whether">{{whether}}</span>
                <img src="{% static "pictures/edit-button.png" %}" class="edit-button">
                <div class="category">{{ form.as_p }}</div>
                <div class="details">
                    <div class="title">
                        洗濯タグ
                    </div>
                    <div class="selection-group">
                        {% for tag in Laundry %}
                        <input id={{tag}} type="radio" name="Laundry" value={{tag}} required>
                        <label for={{tag}}>
                            {% with img="/pictures/"|add:tag|add:".png" %}
                            <img class="radio" src="{% static img%}">
                            {% endwith %}
                        </label>
                        {% endfor %}
                        <p class="red" id="required">※このタグは必ず選択してください</p>
                    </div>
                    <hr>
                    <div class="selection-group">
                        {% for tag in Bleach %}
                        <input id={{tag}} type="radio" name="Bleach" value={{tag}}>
                        <label for={{tag}}>
                            {% with img="/pictures/"|add:tag|add:".png" %}
                            <img class="radio" src="{% static img%}">
                            {% endwith %}
                        </label>
                        {% endfor %}
                    </div>
                    <hr>
                    <div class="selection-group">
                        {% for tag in Nature %}
                        <input id={{tag}} type="radio" name="Nature" value={{tag}}>
                        <label for={{tag}}>
                            {% with img="/pictures/"|add:tag|add:".png" %}
                            <img class="radio" src="{% static img%}">
                            {% endwith %}
                        </label>
                        {% endfor %}
                    </div>
                    <hr>
                    <div class="selection-group">
                        {% for tag in Iron %}
                        <input id={{tag}} type="radio" name="Iron" value={{tag}}>
                        <label for={{tag}}>
                            {% with img="/pictures/"|add:tag|add:".png" %}
                            <img class="radio" src="{% static img%}">
                            {% endwith %}
                        </label>
                        {% endfor %}
                    </div>
                    <hr>
                    <div class="selection-group">
                        {% for tag in Tumble %}
                        <input id={{tag}} type="radio" name="Tumble" value={{tag}}>
                        <label for={{tag}}>
                            {% with img="/pictures/"|add:tag|add:".png" %}
                            <img class="radio" src="{% static img%}">
                            {% endwith %}
                        </label>
                        {% endfor %}
                    </div>
                    <hr>
                    <div class="selection-group">
                        {% for tag in Dry %}
                        <input id={{tag}} type="radio" name="Dry" value={{tag}}>
                        <label for={{tag}}>
                            {% with img="/pictures/"|add:tag|add:".png" %}
                            <img class="radio" src="{% static img%}">
                            {% endwith %}
                        </label>
                        {% endfor %}
                    </div>
                    <hr>
                    <div class="selection-group">
                        {% for tag in Wet %}
                        <input id={{tag}} type="radio" name="Wet" value={{tag}}>
                        <label for={{tag}}>
                            {% with img="/pictures/"|add:tag|add:".png" %}
                            <img class="radio" src="{% static img%}">
                            {% endwith %}
                        </label>
                        {% endfor %}
                    </div>
                </div>
                <div class="title">
                    メモ
                </div>
                <hr>
                <div class="memo">
                    <textarea name="memo" rows="5" cols="48">{{cabinet.memo}}</textarea>
                </div>
                <div class="delete">
                    <a href="{% url 'helpapp:cabinet_delete' cabinet.pk%}">
                        <button type="button" class="delete_button" onclick='return confirm("本当に削除しますか？");'>削除</button>
                    </a>
                </div>
            </div>
            <div id="submit">
                <input type="submit" class="submit-button" value="保存">
            </div>
        </form>
    </div>    
</div>

</div>
<script type="text/javascript">
    
    
    let select = document.getElementById('id_category')
    let category = JSON.parse('{{ category_json|safe }}');
    select.options[category-1].selected = true;

    //tagsの説明挿入
    let tags = JSON.parse('{{ tags_json|safe }}');
    let taginfos = eval({{ taginfos|safe }});
    for (const tag of tags) {
        document.querySelector("input[value=" + tag + "]").checked = true;//初期値のチェック
        let text = document.querySelector("div[class =" + tag + "]"); //宣言
        for (const taginfo of taginfos) {
            if ( tag == taginfo[0]) {
                text.innerHTML = (taginfo[1])
            }
        }
    }

</script>
{% endblock %}