{% extends '../layout.html' %}
{% load static %}<!-- 必須 -->
{% block link%}
    <title>Cabinet</title>
    <link rel="stylesheet" href="{% static 'css/CabinetDetail.css' %}">
    <!-- <script src="{% static 'js/TimeLine.js' %}"></script> -->
{% endblock %}
{% block content %}
<div class="content">
    <div><button type="button" onclick="history.back()" class="backButton">戻る</button></div>
    <div><img src="{{ cabinet.image.url }}" class="laundryTagImg"></div>
    <div class="belt">洗濯表示</div>
    <div class="tag">
        {% for tag in tags %}
            {% with img="/pictures/"|add:tag|add:".png" %}
                <img class="radio" src="{% static img%}">
            {% endwith %}
        {% endfor %}
    </div>
    <div class="belt">
        memo
    </div>
    <div class="memo">
        <p>{{cabinet.memo}}</p>
    </div>
    <div class="delete">
        <a href="{% url 'helpapp:cabinet_delete' cabinet.pk%}">
            <button type="button" class="delete_button">削除</button>
        </a>
    </div>
    
</div>
{% endblock %}