{% extends '../layout.html' %}
{% load static %}<!-- 必須 -->
{% block link%}
    <title>Cabinet</title>
    <link rel="stylesheet" href="{% static 'css/Cabinet.css' %}">
    {% if i == "1" %}
        <script src="{% static 'js/Cabinet.js' %}"></script>
    {%endif%}
{% endblock %}
{% block content %}
    <div class="content">
        {% for cabinet in cabinets %}
        <div class="item">
            <a href='{% url "helpapp:cabinet_detail" cabinet.pk %}'>
                <img src="{{ cabinet.image.url }}">
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="none">{{none}}</div>
    <a href="{% url 'helpapp:cabinet_judge' %}">
        <button type="button" class="add">追加</button>
    </a>
{% endblock %}