{% extends '../layout.html' %}
{% load static %}<!-- 必須 -->
{% block link%}
    <title>Cabinet</title>
    <link rel="stylesheet" href="{% static 'css/Cabinet.css' %}">
    <script type="text/javascript" src="//code.jquery.com/jquery-3.5.1.js"></script>
    <script src="{% static 'js/Cabinet.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="nuv">
        <select id="categories" onchange="viewChange();">
            <option value="all" selected>all</option>
            {% for category in categories%}
                <option value="{{category}}" >{{category}}</option>
            {% endfor %}
        </select>
        <button id="edit">編集</button> 
    </div>
    <div id="content">
        <div class="main all">
            {% for cabinet in cabinets %}
                <div class="item">
                    <a href='{% url "helpapp:cabinet_detail" cabinet.pk %}'>
                        <img src="{{ cabinet.image.url }}">
                        {% if cabinet.laundry_tag|stringformat:"s" in "LD" %}
                            <p class="how LD">手洗い</p>
                        {% elif cabinet.laundry_tag|stringformat:"s" in "LE" %}
                            <p class="how LE">洗えない</p>
                        {% else %}
                            <p class="how able">洗える</p>
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>
        {% for category in categories%}
            <div class="main {{category}}" style="display: none;">
                {% for cabinet in cabinets %}
                    {% if cabinet.category|stringformat:"s" == category %}
                        <div class="item">
                            <a href='{% url "helpapp:cabinet_detail" cabinet.pk %}'>
                                <img src="{{ cabinet.image.url }}">
                                {% if cabinet.laundry_tag|stringformat:"s" in "LD" %}
                                    <p class="how LD">手洗い</p>
                                {% elif cabinet.laundry_tag|stringformat:"s" in "LE" %}
                                    <p class="how LE">洗えない</p>
                                {% else %}
                                    <p class="how able">洗える</p>
                                {% endif %}
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %} 
    </div>

    <div class="none">{{none}}</div>
    
    <!-- チェックボックス -->

    <div id="check" class="hidden">
        <form name="form1" action="{% url 'helpapp:cabinets_delete'%}" method="POST">
            {% csrf_token %}
            <div class="all main">
                {% for cabinet in cabinets %}
                    <div class="checkbox">
                        <input class="select" id={{cabinet.id}} type="checkbox" name="check" value={{cabinet.id}}>
                        <label for={{cabinet.id}}>
                            <img class="img" src="{{ cabinet.image.url }}">
                            {% if cabinet.laundry_tag|stringformat:"s" in "LD" %}
                                <p class="how LD">手洗い</p>
                            {% elif cabinet.laundry_tag|stringformat:"s" in "LE" %}
                                <p class="how LE">洗えない</p>
                            {% else %}
                                <p class="how able">洗える</p>
                            {% endif %}
                        </label>
                    </div>
                {% endfor %}
            </div>
            
            {% for category in categories %}    
            <div class="main {{category}}" style="display: none;">
                {% for cabinet in cabinets %}
                    {% if cabinet.category|stringformat:"s" == category %}
                        <div class="checkbox">
                            <input class="select" id={{cabinet.id}} type="checkbox" name="check" value={{cabinet.id}}>
                            <label for={{cabinet.id}}>
                                <img class="img" src="{{ cabinet.image.url }}">
                                {% if cabinet.laundry_tag|stringformat:"s" in "LD" %}
                                    <p class="how LD">手洗い</p>
                                {% elif cabinet.laundry_tag|stringformat:"s" in "LE" %}
                                    <p class="how LE">洗えない</p>
                                {% else %}
                                    <p class="how able">洗える</p>
                                {% endif %}
                            </label>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
            <div class="btn">
                <input id="delete" type="submit" value="削除">
            </div>
        </form>
    </div>
    <a href="{% url 'helpapp:cabinet_judge'%}">
        <button type="button" class="add">追加</button>
    </a>
{% endblock %}