{% load static %}<!-- 必須 -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/logout.css' %}">
</head>
    <body>
        
        <h1>Logout</h1>
        <p class="text">ログアウトしました。<br>またのご利用をお待ちしております。</p>
        <p><a href='{% url "helpapp:helpapp" %}'>タイトルへ</a></p>
    </body>
</html>