{% extends '../layout.html' %}
{% load static %}<!-- 必須 -->
{% block link%}
    <title>judge</title>
    <link rel="stylesheet" href="{% static 'css/LaundryTagCheck.css' %}">
    <!-- <script src="{% static 'js/TimeLine.js' %}"></script> -->
{% endblock %}
{% block content %}
<div><button type="button" onclick="history.back()" class="backButton">戻る</button></div>
<div><img src="{{file_url}}" alt="" class="laundryTagImg"></div>
<div class="belt">
    変更が必要な場合はマークをタップしてください
</div>
<form action="{% url 'helpapp:judge_result' %}" method="POST">
    {% csrf_token %}
    <div class="selection-group">
        {% for tag in Laundry %}
        <input id={{tag}} type="radio" name="Laundry" value={{tag}}>
        <label for={{tag}}>
            {% with img="/pictures/"|add:tag|add:".png" %}
            <img class="radio" src="{% static img%}">
        </label>
        {% endwith %}
        {% endfor %}
    </div>

    <hr size="5" color="F2FDFF">

    <div class="selection-group">
        {% for tag in Bleach %}
        <input id={{tag}} type="radio" name="Bleach" value={{tag}}>
        <label for={{tag}}>
            {% with img="/pictures/"|add:tag|add:".png" %}
            <img class="radio" src="{% static img%}">
        </label>
        {% endwith %}
        {% endfor %}
    </div>

    <hr size="5" color="F2FDFF">

    <div class="selection-group">
        {% for tag in Nature %}
        <input id={{tag}} type="radio" name="Nature" value={{tag}}>
        <label for={{tag}}>
            {% with img="/pictures/"|add:tag|add:".png" %}
            <img class="radio" src="{% static img%}">
        </label>
        {% endwith %}
        {% endfor %}
    </div>

    <hr size="5" color="F2FDFF">

    <div class="selection-group">
        {% for tag in Iron %}
        <input id={{tag}} type="radio" name="Iron" value={{tag}}>
        <label for={{tag}}>
            {% with img="/pictures/"|add:tag|add:".png" %}
            <img class="radio" src="{% static img%}">
        </label>
        {% endwith %}
        {% endfor %}
    </div>

    <hr size="5" color="F2FDFF">

    <div class="selection-group">
        {% for tag in Tumble %}
        <input id={{tag}} type="radio" name="Tumble" value={{tag}}>
        <label for={{tag}}>
            {% with img="/pictures/"|add:tag|add:".png" %}
            <img class="radio" src="{% static img%}">
        </label>
        {% endwith %}
        {% endfor %}
    </div>

    <hr size="5" color="F2FDFF">

    <div class="selection-group">
        {% for tag in Dry %}
        <input id={{tag}} type="radio" name="Dry" value={{tag}}>
        <label for={{tag}}>
            {% with img="/pictures/"|add:tag|add:".png" %}
            <img class="radio" src="{% static img%}">
        </label>
        {% endwith %}
        {% endfor %}
    </div>

    <hr size="5" color="F2FDFF">

    <div class="selection-group">
        {% for tag in Wet %}
        <input id={{tag}} type="radio" name="Wet" value={{tag}}>
        <label for={{tag}}>
            {% with img="/pictures/"|add:tag|add:".png" %}
            <img class="radio" src="{% static img%}">
        </label>
        {% endwith %}
        {% endfor %}
    </div>
    <input type="submit" value="OK" class="submit"></input>
</form>

<script type="text/javascript" src="//code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript">
    const results = eval({{ results|safe }});
    for (const tag of results) {
        console.log(tag);
        var element = document.getElementById(tag) ;
        element.checked = true ;
    }
</script>
{% endblock %}