<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/AddWashingMachine.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="title">タンス</div>
        </header>
        <button type="button" onclick="history.back()" class="backButton">戻る</button>
        <div class="content">
            <form action="/WashingMachine/index.html">
                <div class="item">
                    <input type="checkbox">画像
                </div>
                <div class="item">
                    <input type="checkbox">画像
                </div>
                <div class="item">
                    <input type="checkbox">画像
                </div>
                <div class="item">
                    <input type="checkbox">画像
                </div>
                <button type="submit" class="add">追加</button>
            </form>
        </div>
        <footer class="footer">
            <ul>
                <li><a href="../Home/index.html"><img class="footer-picture" src="../pictures/camera.png"></a></li>
                <li><a href="../WashingMachine/index.html"><img class="footer-picture" src="../pictures/WashingMachine.png"></a></li>
                <li><a href="../Cabinet/index.html"><img class="footer-cabinet" src="../pictures/cabinet.png"></a></li>
                <li><a href="../User/index.html"><img class="footer-picture" src="../pictures/user.png"></a></li>
            </ul>
        </footer>
    </div>
</body>
</html>