{% extends '../layout.html' %}
{% load static %}<!-- 必須 -->
    {% block link%}
        <title>TimeLine</title>
        <link rel="stylesheet" href="{% static 'css/TimeLine.css' %}">
        <script src="{% static 'js/TimeLine.js' %}"></script>
    {% endblock %}

    {% block content %}
        <div class="timeline">
            <h2>最新</h2>
            <div class="none">{{none}}</div>
            {% for cabinet in cabinets %}
                <div class="box">
                    <a href='{% url "helpapp:cabinet_detail" cabinet.pk %}'>
                        <img id="mainpic" src="{{ cabinet.image.url }}">
                        <div class="tag">
                            {% for tag in cabinet.laundry_tag %}
                                {% with img="/pictures/"|add:tag|add:".png" %}
                                    <img src="{% static img%}">
                                {% endwith %}
                            {% endfor %}
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endblock %}