{% extends '../layout.html' %}
{% load static %}<!-- 必須 -->
    {% block content %}
    <div class="timeline">
        <h2>最新</h2>
        <div class="box">
            <img id="mainpic" src="{% static "pictures/t-shirt.png"%}">
            <div class="tag">
                <table>
                    <tr>
                        <td><img src="{% static "pictures/B2.png"%}"></td>
                        <td><img src="{% static "pictures/T2.png"%}"></td>
                        <td><img src="{% static "pictures/N6.png"%}"></td>
                        <td><img src="{% static "pictures/I2.png"%}"></td>
                    </tr>
                    <tr>
                        <td><img src="{% static "pictures/D3.png"%}"></td>
                        <td><img src="{% static "pictures/W3.png"%}"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    
    {% endblock %}