{% extends '../layout.html' %}
{% load static %}<!-- 必須 -->
{% block link%}
    <link rel="stylesheet" href="{% static 'css/EditUser.css' %}">
    <script src="{% static 'js/Edit_User.js' %}"></script>
{% endblock %}
{% block content %}
<div class="hidden">
    <div class="img_div">
        <label for="id_image">
            <img id="account_img" src="{{ profile.image.url }} ">
        </label>
        
    </div>
    {% if user_form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
                {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="form-content">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-5">
                    <div class>
                        <label for="id_username">Username:</label>
                        <div class="username">{{ user_form.username }}</div>
                    </div>
                    <br>
                    <div class="form-group">
                        <a href="#">Change Password</a>
                        <hr>
                        {{ profile_form.image }}
                    </div>
                </div>
            </div>
            <br><br>
            <button type="submit" class="btn btn-dark btn-lg">Save Changes</button>
            <button type="reset" class="btn btn-dark btn-lg">Reset</button>
        </form>
    </div>
</div>
{% endblock content %}