{% extends '../layout.html' %}
{% load static %}<!-- 必須 -->
{% load mathfilters %}
{% block link%}
    <title>User</title>
    <link rel="stylesheet" href="{% static 'css/User.css' %}">
{% endblock %}
{% block content %}
    <div class="content">    
        <div class="user">
            <img class="user-pic" src="/upload_img/icon/icon2.jpg" alt="user_icon">  
            <span class="user-ID">ID：{{user}}</span>
            <a href="#"><button class="edit-button">編集</button></a>
        </div>
        <br>
        <hr>
        <div class="detail">
            <div class="sum">服の総数：</div>
            <div class="date">　登録日：</div>
        </div>
        <div class="washingDisplay">
            ◎ 洗濯表示
        </div>
        <details>
            <summary id="tes" class="washingProcess">洗濯処理</summary>
            <table>
                {% for datas in washingProcesses %}
                    <tr>
                        {% for data in datas %}
                            <td> {{data|safe}} </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </details>
        <details>
            <summary id="tes" class="bleachingProcess">漂白処理</summary>
            <table>
                {% for datas in bleachingProcesses %}
                    <tr>
                        {% for data in datas %}
                            <td> {{data|safe}} </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </details>
        <details>
            <summary id="tes" class="tumbleDrying">タンブル乾燥</summary>
            <table>
                {% for datas in tumbleDrys %}
                    <tr>
                        {% for data in datas %}
                            <td> {{data|safe}} </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </details>
        <details>
            <summary id="tes" class="naturalDrying">自然乾燥</summary>
            <table>
                {% for datas in naturalDrys %}
                    <tr>
                        {% for data in datas %}
                            <td> {{data|safe}} </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </details>
        <details>
            <summary id="tes" class="ironFinish">アイロン仕上げ</summary>
            <table>
                {% for datas in ironFinishs %}
                    <tr>    
                        {% for data in datas %}
                            <td> {{data|safe}} </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </details>
        <details>
            <summary id="tes" class="dryCleaning">ドライクリーニング</summary>
            <table>
                {% for datas in dryCleanings %}
                    <tr>
                        {% for data in datas %}
                            <td> {{data|safe}} </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
            <p class="attention">※<font color="red">ドライクリーニング処理はタンブル乾燥を含む。</font></p>
        </details>
        <details>
            <summary id="tes" class="wetCleaning">ウエットクリーニング</summary>
            <table>
                {% for datas in wetCleanings %}
                    <tr>
                        {% for data in datas %}
                            <td> {{data|safe}} </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </details>
        <details>
            <summary class="info">注意事項</summary>
            {{list|safe}}
        </details>
        <hr>
        <p class="logout"><a href='{% url "logout" %}'>ログアウト</a></p>
    </div>
{% endblock %}