{% extends '../layout.html' %}
{% load static %}<!-- 必須 -->
{% load mathfilters %}
{% block link%}
    <link rel="stylesheet" href="{% static 'css/User.css' %}">
    <script src="{% static 'js/User.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="content">
    <div class="edit">
        <button id="edit-button">編集</button>
    </div>
        <div id="main">
            <div class="user">
                {% if profile.image|stringformat:"s" == "none" %}
                    <img class="user-pic" src="{% static 'pictures/icon.svg' %}" alt="user_icon">
                {% else %}
                    <img class="user-pic" src="{{profile.image.url}}" alt="user_icon"> 
                {% endif %}
                
            </div>
            <div class="UserName">{{user}}</div>
        </div>    

        <!-- 編集ボタンを押したら出てくる -->
        <div id="main_edit" class="hidden">
            <div class="img_div">
                <label for="id_image">
                    {% if profile.image|stringformat:"s" == "none" %}
                        <img class="user-pic" src="{% static 'pictures/icon.svg' %}" alt="user_icon"> 
                    {% else %}
                        <img class="user-pic" src="{{profile.image.url}}" alt="user_icon"> 
                    {% endif %}
                </label>
            </div>
            {% if user_form.errors %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <div id="form_errors">
                        {% for key, value in user_form.errors.items %}
                            <strong>{{ value }}</strong>
                        {% endfor %}
                    </div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
            <div class="form-content">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-md-5">
                            <div class>
                                <label for="id_username" class="id">ID</label>
                                <div class="username">{{ user_form.username }}</div>
                            </div>
                            <br>
                            <button type="submit" class="submit">保存して終了</button>
                            <button type="reset" class="reset">リセット</button>
                            <div class="form-group">
                                <a href="{% url 'accounts:password_change_form'%}">パスワード変更はこちら</a>
                                {{ profile_form.image }}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <p class="logout"><a href='{% url "logout" %}'>ログアウト</a></p>
        </div>
        <!-- ここまで -->
        <hr>
        <div class="detail">
            {% for award in awards %}
                <div class="award">
                    <div class="award0">{{award.0}}</div>
                    <div class="award1">{{award.1}}</div>
                    {% with img="/pictures/"|add:award.2|add:".png" %}
                        <img src="{% static img%}">
                    {% endwith %}
                    
                </div>
            {% endfor %}
        </div>
        {% for table in tables %}
            <details>
                <summary {% if table.0 == "info"%} id="info" {% endif %} id="tes" class="{{table.0}}" class="accordion">
                    <span>{{table.1}}</span>
                </summary>
                <div class="codeWrapper">
                    <table>
                        {% if table.0 == "info"%}
                            {{table.2|safe}}
                        {% else %}
                            {% for datas in table.2 %}
                                <tr>
                                    {% for data in datas %}
                                        <td> {{data|safe}} </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                </div>
                {%if table.0 == "dryCleanings" %}
                    <p class="attention">※<font color="red">ドライクリーニング処理はタンブル乾燥を含む。</font></p>
                {% endif %} 
            </details>
        {% endfor %}
    </div>
{% endblock %}