{% extends '../layout.html' %}
{% load static %}<!-- 必須 -->
{% block link%}
    <link rel="stylesheet" href="{% static 'css/Washer_add.css' %}">
{% endblock %}
{% block content %}
    <div class="content">
        <form action="{% url 'helpapp:washer_add_redirect' %}" method="POST">
            {% csrf_token %}
            {% for cabinet in cabinets %}
            <div class="item">
                <input id={{cabinet.id}} type="checkbox" name="check" value={{cabinet.id}}>
                <label for={{cabinet.id}}>
                    <img class="check" src="{{ cabinet.image.url }}">
                </label>
            </div>
            {% endfor %}
            <div class="btn">
                <input type="submit" class="add" value="追加">
            </div>
        </form>
    </div>
{% endblock %}
