{% extends '../layout.html' %}
{% load static %}<!-- 必須 -->
{% block link%}
    <title>WashingMachine</title>
    <link rel="stylesheet" href="{% static 'css/washer.css' %}">
    <!-- <script src="{% static 'js/TimeLine.js' %}"></script> -->
{% endblock %}
    {% block content %}
            <div class="quantity"><p>2</p></div>
            <div class="content">
                <div class="item">
                    画像
                </div>
                <div class="item">
                    画像
                </div>
                <div class="item">
                    画像
                </div>
                <div class="item">
                    画像
                </div>
                <div class="button">
                    <button class="add" onclick="location.href='/AddWashingMachine/index.html'">タンスから追加</button>
                    <button class="judge" onclick="location.href='judge.html'">判定</button>
                </div>
                
            </div>
        </div>
{% endblock %}