{% extends '../layout.html' %}
{% load static %}<!-- 必須 -->
{% block link%}
    <title>Cabinet</title>
    <link rel="stylesheet" href="{% static 'css/washer.css' %}">
    {% if i == "1" %}
        <script src="{% static 'js/Cabinet.js' %}"></script>
    {%endif%}
{% endblock %}
{% block content %}
    <div class="content">
        {% for washer in washers %}
        <div class="item">
            <a href='{% url "helpapp:cabinet_detail" washer.pk %}'>
                <img src="{{ washer.image.url }}">
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="none">{{none}}</div>
    <div class="button">
        <a href="{% url 'helpapp:washer_add' %}">
            <button type="button" class="add">タンスから追加</button>
        </a>
        <a href="{% url 'helpapp:washer_judge' %}">
            <button type="button" class="add">判定</button>
        </a>
    </div>
{% endblock %}
 