{% load static %}<!-- 必須 -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="その洗濯の悩み、AIが解決します!!!誰もが初めての洗濯でぶつかる「洗い方がわからない」という悩み。私たちのシステムでは、洋服の洗濯タグを撮影するだけで、AIが洗い方と干し方を教えてくれ、あなたの洗濯の悩みを解決します。">
    <meta name="keywords" content="洗濯, AI, 洗濯タグ, 洗濯表示, laundry ">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static "pictures/icon.svg"%}">
    
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <title>{{message}} - AI Tag Checker</title>
    {% block link %}
    
    {% endblock %}
</head>
<body ontouchstart="">
    <div class="container">
        <div id="header">
                <img class="header_icon" src="{% static "pictures/wave.png"%}" alt="">
        </div>
        {% block content %}
        {% endblock %}
        <footer class="footer">
            <ul>
                <li id="washer"><a href="{% url 'helpapp:washer' %}"><img src="{% static "pictures/washer.svg"%}"></a></li>
                <li id="cabinet"><a href="{% url 'helpapp:cabinet' %}"><img src="{% static "pictures/cabinet.svg"%}"></a></li>
                <li id="home"><a href="{% url 'helpapp:home' %}"><img src="{% static "pictures/camera.svg"%}"></a></li>
                <li id="bookmark"><a href="{% url 'helpapp:washer_log' %}"><img src="{% static "pictures/bookmark.svg"%}"></a></li>
                {% comment %}<li id="timeline"><a href="{% url 'helpapp:timeline' %}"><img src="{% static "pictures/timeline.svg"%}"></a></li>{% endcomment%}
                <li id="user"><a href="{% url 'helpapp:user' %}"><img src="{% static "pictures/user.svg"%}"></a></li>
            </ul>
        </footer>
    </div>
    <script>        
        let success = document.getElementById('success');
        let error = document.getElementById('error');
        if(success) {
            success.addEventListener('click', () => { 
                success.classList.add('hidden');  
            }) 
        };
        if(error) {
            error.addEventListener('click', () => { 
                error.classList.add('hidden');  
            }) 
        };
        const ON = JSON.parse('{{ ON|safe }}');
        var id = document.getElementById(ON);
        id.classList.add("ON");
    </script>
</body>
</html>