{% load static %}<!-- 必須 -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static "pictures/icon.svg"%}">
    
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <title>{{message}}</title>
    {% block link %}
    
    {% endblock %}
</head>
<body>
    <div class="container">
        <div id="header">
                <P id="title">{{message}}</P>
        </div>
        {% block content %}
        {% endblock %}
        <footer class="footer">
            <ul>
                <li id="washer"><a href="{% url 'helpapp:washer' %}"><img src="{% static "pictures/washer.svg"%}"></a></li>
                <li id="cabinet"><a href="{% url 'helpapp:cabinet' %}"><img src="{% static "pictures/cabinet.svg"%}"></a></li>
                <li id="home"><a href="{% url 'helpapp:home' %}"><img src="{% static "pictures/camera.svg"%}"></a></li>
                <li id="timeline"><a href="{% url 'helpapp:washer_log' %}"><img src="{% static "pictures/timeline.svg"%}"></a></li>

                {% comment %}<li id="timeline"><a href="{% url 'helpapp:timeline' %}"><img src="{% static "pictures/timeline.svg"%}"></a></li>{% endcomment%}
                <li id="user"><a href="{% url 'helpapp:user' %}"><img src="{% static "pictures/user.svg"%}"></a></li>
            </ul>
        </footer>
    </div>
    <script>
        
        const ON = JSON.parse('{{ ON|safe }}');
        var id = document.getElementById(ON);
        id.classList.add("ON");
    </script>
</body>
</html>