{% extends '../layout.html' %}
{% load static %}<!-- 必須 -->

{% block link%}
    <link rel="stylesheet" href="{% static 'css/WasherResult.css' %}">
{% endblock %}
{% block content %}
        <h2>Password Change</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button" type="submit">Change</button>
        </form>
<script type="text/javascript">
    document.querySelector('[for="id_old_password"]').innerText = 'PR';
    document.querySelector('[for="id_new_password1"]').innerText = 'PS';
    document.querySelector('[for="id_new_password2"]').innerText = 'RE';
</script>

{% endblock %}