{% extends '../layout.html' %}
{% load static %}<!-- 必須 -->
{% block link%}
    <link rel="stylesheet" href="{% static 'css/Home.css' %}">
    <link rel="stylesheet" href="{% static 'css/User.css' %}">
    <link rel="stylesheet" href="{% static 'css/Animation.css' %}">
    <script src="{% static 'js/User.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="content">
        {% for message in messages %}
            <div {% if message.tags %}id="{{ message.tags }}"{% endif %}>
                <p>　×　　{{ message }}</p>
            </div>
        {% endfor %}
        <div class="upload">
            <form action="{% url 'helpapp:judge' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="id_UploadImg"><img src="{% static "pictures/img.png"%}" alt="" id="home_img"></label>
                {{ form.as_p }}
                <button id="submit" type="submit" disabled>アップロード</button>
            </form>
        </div>
        {% for table in tables %}
            <details>
                <summary id="tes" class="{{table.0}}" class="accordion">
                    <span>{{table.1}}</span>
                </summary>
                <div class="codeWrapper">
                    <table>
                        {% if table.0 == "info"%}
                            {{table.2|safe}}
                        {% else %}
                            {% for datas in table.2 %}
                                <tr>
                                    {% for data in datas %}
                                        <td> {{data|safe}} </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                </div>
                {%if table.0 == "dryCleanings" %}
                    <p class="attention">※<font color="red">ドライクリーニング処理はタンブル乾燥を含む。</font></p>
                {% endif %} 
            </details>
        {% endfor %}
    </div>
    <!-- ロード画面 -->
    <div class="load">
        
        <div class="Advertisement">
            <a href='https://mttag.com/s/xlZZJJ6K7TU' target="_blank" rel='nofollow'><img src = 'https://mttag.com/banner/xlZZJJ6K7TU' alt = 'アフィリエイトASPのマネートラック' width = '336' height = '280' border = '0' /></a>
        </div>
        <div class="text">
            LOADING
            <div class="loading">
                <div class="loader">
                    <span style="--i:1;"></span>
                    <span style="--i:2;"></span>
                    <span style="--i:3;"></span>
                    <span style="--i:4;"></span>
                    <span style="--i:5;"></span>
                    <span style="--i:6;"></span>
                    <span style="--i:7;"></span>
                    <span style="--i:8;"></span>
                    <span style="--i:9;"></span>
                    <span style="--i:10;"></span>
                    <span style="--i:11;"></span>
                    <span style="--i:12;"></span>
                    <span style="--i:13;"></span>
                    <span style="--i:14;"></span>
                    <span style="--i:15;"></span>
                    <span style="--i:16;"></span>
                    <span style="--i:17;"></span>
                    <span style="--i:18;"></span>
                    <span style="--i:19;"></span>
                    <span style="--i:20;"></span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}