{% extends '../layout.html' %}
{% load static %}<!-- 必須 -->
{% load mathfilters %}
{% block link%}
    <link rel="stylesheet" href="{% static 'css/WasherResult.css' %}">
{% endblock %}
{% block content %}
<div class="content">
    <div class="scroll">
        {% for laund in laundry %}
            <div class="pictures">
                <a href='{% url "helpapp:cabinet_detail" laund.cabinet_id %}'>
                <img src="{{laund.cabinet.image.url}}" class="washer_img">
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="title"></div>
    <table>
        {% for tag in comp %}
            {% with img="/pictures/"|add:tag|add:".png" %}
                <tr><td><img class="tag_img" src="{% static img%}"></td>
            {% endwith %}
            <td><div id="{{tag}}"></div></td></tr>
        {% endfor %}
    </table>

    <section class="tab_contents">
        <div class="tab_wrap">
            <input id="tab1" type="radio" name="check" checked>
            <label for="tab1" class="tab_lab1">洗濯</label>
            <input id="tab2" type="radio" name="check">
            <label for="tab2" class="tab_lab2">漂白</label>
            <input id="tab3" type="radio" name="check">
            <label for="tab3" class="tab_lab3">乾燥</label>
            <div class="panels">
                <div id="area1" class="panel">
                    <ul class="panel_content">
                        {% for l_washer in L_washer %}
                            {% for laund in laundry %}
                                {% if laund.id == l_washer %}
                                    <li class="panel_li">
                                        <div class="panel_img">
                                            <img src="{{laund.cabinet.image.url}}" class="panel_washer">
                                        </div>
                                        <div class="panel_space"></div>
                                    <div class="panel_tags">
                                        {% for tag in laund.cabinet.laundry_tag %}
                                            {% if tag.0 == "L"%}
                                                {% with img="/pictures/"|add:tag|add:".png" %}
                                                    <img class="tag_img L" src="{% static img%}">
                                                {% endwith %}

                                            {% else %}
                                                {% with img="/pictures/"|add:tag|add:".png" %}
                                                        <img class="tag_img" src="{% static img%}">
                                                {% endwith %}
                                            {% endif %}
                                            <div id="{{tag}}"></div>
                                        {% endfor %}
                                    </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
                <div id="area2" class="panel">
                    <ul class="panel_content">
                        {% for b_washer in B_washer %}
                            {% for laund in laundry %}
                                {% if laund.id == b_washer %}
                                    <li class="panel_li">
                                        <div class="panel_img">
                                            <img src="{{laund.cabinet.image.url}}" class="panel_washer">
                                        </div>
                                        <div class="panel_space"></div>
                                    <div class="panel_tags">
                                        {% for tag in laund.cabinet.laundry_tag %}
                                            {% if tag.0 == "B"%}
                                                {% with img="/pictures/"|add:tag|add:".png" %}
                                                    <img class="tag_img B" src="{% static img%}">
                                                {% endwith %}

                                            {% else %}
                                                {% with img="/pictures/"|add:tag|add:".png" %}
                                                        <img class="tag_img" src="{% static img%}">
                                                {% endwith %}
                                            {% endif %}
                                            <div id="{{tag}}"></div>
                                        {% endfor %}
                                    </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
                <div id="area3" class="panel">
                    <ul class="panel_content">
                        {% for t_washer in T_washer %}
                            {% for laund in laundry %}
                                {% if laund.id == t_washer %}
                                    <li class="panel_li">
                                        <div class="panel_img">
                                            <img src="{{laund.cabinet.image.url}}" class="panel_washer">
                                        </div>
                                        <div class="panel_space"></div>
                                    <div class="panel_tags">
                                        {% for tag in laund.cabinet.laundry_tag %}
                                            {% if tag.0 == "T"%}
                                                {% with img="/pictures/"|add:tag|add:".png" %}
                                                    <img class="tag_img T" src="{% static img%}">
                                                {% endwith %}

                                            {% else %}
                                                {% with img="/pictures/"|add:tag|add:".png" %}
                                                        <img class="tag_img" src="{% static img%}">
                                                {% endwith %}
                                            {% endif %}
                                            <div id="{{tag}}"></div>
                                        {% endfor %}
                                    </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="space"></div>

<script type="text/javascript">
    let comp = JSON.parse('{{ comp_json|safe }}');
    console.log(comp);
    for (let tag of comp) {
        let text = document.getElementById(tag); //宣言
        switch (tag){
        case 'L1':
            text.innerHTML=('温度は<span class="red">95度</span>を限度とし、洗濯機で洗濯ができる');
            break;
        case 'L2':
            text.innerHTML=('温度は<span class="red">70度</span>を限度とし、洗濯機で洗濯ができる');
            break;
        case 'L3':
            text.innerHTML=('温度は<span class="red">60度</span>を限度とし、洗濯機で洗濯ができる');
            break;
        case 'L4':
            text.innerHTML=('温度は<span class="red">60度</span>を限度とし、洗濯機で<span class="red">弱い</span>洗濯ができる');
            break;
        case 'L5':
            text.innerHTML=('温度は<span class="red">50度</span>を限度とし、洗濯機で洗濯ができる');
            break;
        case 'L6':
            text.innerHTML=('温度は<span class="red">50度</span>を限度とし、洗濯機で<span class="red">弱い</span>洗濯ができる');
            break;
        case 'L7':
            text.innerHTML=('温度は<span class="red">40度</span>を限度とし、洗濯機で洗濯ができる');
            break;
        case 'L8':
            text.innerHTML=('温度は<span class="red">40度</span>を限度とし、洗濯機で<span class="red">弱い</span>洗濯ができる');
            break;
        case 'L9':
            text.innerHTML=('温度は<span class="red">40度</span>を限度とし、洗濯機で<span class="red">非常に弱い</span>洗濯ができる');
            break;
        case 'LA':
            text.innerHTML=('温度は<span class="red">30度</span>を限度とし、洗濯機で洗濯ができる');
            break;
        case 'LB':
            text.innerHTML=('温度は<span class="red">30度</span>を限度とし、洗濯機で<span class="red">弱い</span>洗濯ができる');
            break;
        case 'LC':
            text.innerHTML=('温度は<span class="red">30度</span>を限度とし、洗濯機で<span class="red">非常に弱い</span>洗濯ができる');
            break;
        case 'LD':
            text.innerHTML=('温度は<span class="red">40度</span>を限度とし手洗いができる');
            break;
        case 'LE':
            text.innerHTML=('家庭での<span class="red">洗濯禁止</span>');
            break;
        case 'B1':
            text.innerHTML=('塩素系及び酸素系の漂白剤を使用して漂白ができる');
            break;
        case 'B2':
            text.innerHTML=('酸素系漂白剤の使用はできるが、塩素系漂白剤は<span class="red">使用禁止</span>');
            break;
        case 'B3':
            text.innerHTML=('塩素系および酸素系漂白剤の<span class="red">使用禁止</span>');
            break;
        case 'T1':
            text.innerHTML=('タンブル乾燥ができる(排気温度上限<span class="red">80度</span>)');
            break;
        case 'T2':
            text.innerHTML=('低い温度でタンブル乾燥ができる(排気温度上限<span class="red">60度</span>)');
            break;
        case 'T3':
            text.innerHTML=('タンブル乾燥<span class="red">禁止</span>');
            break;
        case 'I1':
            text.innerHTML=('底面温度<span class="red">200度</span>を限度としてアイロン仕上げができる');
            break;
        case 'I2':
            text.innerHTML=('底面温度<span class="red">150度</span>を限度としてアイロン仕上げができる');
            break;
        case 'I3':
            text.innerHTML=('底面温度<span class="red">110度</span>を限度として<span class="red">スチームなし</span>でアイロン仕上げができる');
            break;
        case 'I4':
            text.innerHTML=('アイロン仕上げ<span class="red">禁止</span>');
            break;
        case 'N1':
            text.innerHTML=('つり干しが良い');
            break;
        case 'N2':
            text.innerHTML=('ぬれつり干しが良い');
            break;
        case 'N3':
            text.innerHTML=('平干しが良い');
            break;
        case 'N4':
            text.innerHTML=('ぬれ平干しが良い');
            break;
        case 'N5':
            text.innerHTML=('日陰のぬれつり干しが良い');
            break;
        case 'N6':
            text.innerHTML=('日陰のつり干しが良い');
            break;
        case 'N7':
            text.innerHTML=('日陰の平干しが良い');
            break;
        case 'N8':
            text.innerHTML=('日陰のぬれ平干しが良い');
            break;
        case 'D1':
            text.innerHTML=('バークロロエチレン及び石油系洗剤によるドライクリーニングができる');
            break;
        case 'D2':
            text.innerHTML=('バークロロエチレン及び石油系洗剤による<span class="red">弱い</span>ドライクリーニングができる');
            break;
        case 'D3':
            text.innerHTML=('石油系洗剤によるドライクリーニングができる');
            break;
        case 'D4':
            text.innerHTML=('石油系洗剤による<span class="red">弱い</span>ドライクリーニングができる');
            break;
        case 'D5':
            text.innerHTML=('ドライクリーニング<span class="red">禁止</span>');
            break;
        case 'W1':
            text.innerHTML=('ウェットクリーニングができる');
            break;
        case 'W2':
            text.innerHTML=('<span class="red">弱い</span>操作によるウェットクリーニングができる');
            break;
        case 'W3':
            text.innerHTML=('<span class="red">非常に弱い</span>操作によるウェットクリーニングができる');
            break;
        case 'W4':
            text.innerHTML=('ウェットクリーニング<span class="red">禁止</span>');
            break;
        default:
        }
    }
</script>
{% endblock %}
