{% extends '../layout.html' %}
{% load static %}<!-- 必須 -->
    {% block link%}
        <title>TimeLine</title>
        <link rel="stylesheet" href="{% static 'css/Washer_log.css' %}">
        <!-- <script src="{% static 'js/TimeLine.js' %}"></script> -->
    {% endblock %}
    {% block content %}
    {% for message in messages %}
        <div {% if message.tags %}id="{{ message.tags }}"{% endif %}>
            <p>　×　　{{ message }}</p>
        </div>
    {% endfor %}
        <div id="content">  
            <div class="none">{{none}}</div>
            {% for laundry in Laundries %}
                <div class="item">
                    <div class="panel">
                        {% comment %} <span class="dummy_button1">
                            
                        </span> {% endcomment %}
                        <span class="add">
                            <a href='{% url "helpapp:log_to_washer" laundry.0.washer_log_id%}' onclick='return confirm("洗濯機に追加しますか？");'>
                                +
                            </a>
                        </span>
                        <span class="date">
                            <a href='{% url "helpapp:washer_log_detail" laundry.0.washer_log_id%}'>
                                {{val}}{{laundry.0.washer_log.created_at}}
                            </a>
                        </span>
                        
                        <span class="delete">
                            <a href='{% url "helpapp:washer_log_delete" laundry.0.washer_log_id%}' onclick='return confirm("ログを削除しますか？");'>
                            ×
                            </a>
                        </span>
                    </div>
                    <div class="washer_log ">
                        {% for laund in laundry %}
                            <div class="div_pic">
                                <a href='{% url "helpapp:cabinet_detail" laund.cabinet_id %}'>
                                    <img class="washer_pic" src="{{laund.cabinet.image.url}}" alt="washer-pic">
                                </a>
                            </div>
                        {% endfor%}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endblock %}

    <script type="text/javascript">
        let message = document.getElementById('success');
        message.addEventListener('click', () => { 
            message.classList.add('hidden');    
        });
    </script>